{% extends "index.html" %}

{%block conteudo_interior%}

<div class="shell">

  <!-- Small Nav -->
  <div class="small-nav">
    <a href="#">Regenere</a>
    <span>&gt;</span>
    Clientes
  </div>
  <!-- End Small Nav -->

  <br />
  <!-- Main -->
  <div id="main">
    <div class="cl">&nbsp;</div>

    <!-- Content -->
    <div id="content">

      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2 class="left">Clientes cadastrados</h2>
          <div class="right">
            <label>Procuruar cliente...</label>
            <input type="text" class="field small-field" />
            <input type="submit" class="button" value="search" />
          </div>
        </div>
        <!-- End Box Head -->

        <!-- Table -->
        <div class="table">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th width="110" class="ac">Gerenciar</th>
            </tr>
            <tr>
              <td><h3>Ricardo Castilho</h3></td>
              <td>ricardo@ricardo.com</td>
              <td>12345678</td>
              <td><a href="#" class="ico del">Apagar</a><a href="#" class="ico edit">Editar</a></td>
            </tr>
            <tr class="odd">
              <td><h3>Rodrigo Castilho</h3></td>
              <td>rodrigo@rodrigo.com</td>
              <td>12345678</td>
              <td><a href="#" class="ico del">Apagar</a><a href="#" class="ico edit">Editar</a></td>
            </tr>
            <tr>
              <td><h3>Dayane Sá</h3></td>
              <td>dayane@day.com</td>
              <td>12345678</td>
              <td><a href="#" class="ico del">Apagar</a><a href="#" class="ico edit">Editar</a></td>
            </tr>
            <tr class="odd">
              <td><h3>Felipe</h3></td>
              <td>lipe@lipe.com</td>
              <td>12345678</td>
              <td><a href="#" class="ico del">Apagar</a><a href="#" class="ico edit">Editar</a></td>
            </tr>
            <tr>
              <td><h3>Yuri</h3></td>
              <td>yuri@gmail.com</td>
              <td>12345678</td>
              <td><a href="#" class="ico del">Apagar</a><a href="#" class="ico edit">Editar</a></td>
            </tr>
          </table>


          <!-- Pagging -->
          <div class="pagging">
            <div class="left">Mostrando 1-5 of 44</div>
            <div class="right">
              <a href="#">Página anterior</a>
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">245</a>
              <span>...</span>
              <a href="#">Próxima página</a>
              <a href="#">Ver todos</a>
            </div>
          </div>
          <!-- End Pagging -->

        </div>
        <!-- Table -->

      </div>
      <!-- End Box -->

      <!-- Box -->
      <div class="box">
        <!-- Box Head -->
        <div class="box-head">
          <h2>Adicionar novo cliente</h2>
        </div>
        <!-- End Box Head -->

        <form action="" method="post">

          <!-- Form -->
          <div class="form">
              <p>
                <span class="req">max 100 symbols</span>
                <label>Article Title <span>(Required Field)</span></label>
                <input type="text" class="field size1" />
              </p>
              <p class="inline-field">
                <label>Date</label>
                <select class="field size2">
                  <option value="">23</option>
                </select>
                <select class="field size3">
                  <option value="">July</option>
                </select>
                <select class="field size3">
                  <option value="">2009</option>
                </select>
              </p>

              <p>
                <span class="req">max 100 symbols</span>
                <label>Content <span>(Required Field)</span></label>
                <textarea class="field size1" rows="10" cols="30"></textarea>
              </p>

          </div>
          <!-- End Form -->

          <!-- Form Buttons -->
          <div class="buttons">
            <input type="button" class="button" value="preview" />
            <input type="submit" class="button" value="submit" />
          </div>
          <!-- End Form Buttons -->
        </form>
      </div>
      <!-- End Box -->

    </div>
    <!-- End Content -->

    <div class="cl">&nbsp;</div>
  </div>
  <!-- Main -->
</div>


{% endblock %}
